<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

<context:annotation-config />
 <context:component-scan base-package="es.indra" />
	<!-- Configures support for @Controllers -->
	<mvc:annotation-driven conversion-service = "conversionService" validator="validadorMensajes"/>
	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">

		<property name="location">
			<value>classpath:configuracion.properties</value>
		</property>
	</bean>
	
	<bean id="conversionService"
      class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
        <list>
               
<!--             <bean class="es.indra.academia.controller.converters.FechaConverter"/> -->
            
        </list>
    </property>
</bean>
	
	
	
	
<!-- 	<bean name="databaseConfiguration" -->
<!--             class="es.dedalus.infracciones.persistencia.util.DatabaseConfigurationCustom"> -->
<!--         <constructor-arg type="javax.sql.DataSource" ref="dataSource"/> -->
<!--         <constructor-arg type="java.lang.String" index="1" value="CONFIGURACION"/> -->
<!--         <constructor-arg type="java.lang.String" index="2"  value="PARAMETRO"/> -->
<!--         <constructor-arg type="java.lang.String" index="3" value="VALOR"/> -->
<!--         <constructor-arg type="java.lang.String" index="4" value="ENCRIPTADA"/> -->
<!-- 	</bean> -->
	
<!-- 	<bean name="commonsConfigurationFactoryBean" -->
<!--    		 class="org.springmodules.commons.configuration.CommonsConfigurationFactoryBean"> -->
<!-- 		<constructor-arg ref="databaseConfiguration"/> -->
<!-- 		</bean> -->

<!-- 	<bean name="propertyPlaceholderConfigurer" -->
<!--             class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> -->
<!--             <property name="properties" ref="commonsConfigurationFactoryBean"/> -->
            
<!--        </bean> -->

	  <context:annotation-config />
<!-- 	<tx:annotation-driven mode="proxy" transaction-manager="transactionManager"/> -->
 	 <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="requestContextAttribute" value="requestContext"/>
		<property name="viewClass" value="org.springframework.web.servlet.view.tiles2.TilesView"/>
	</bean>

      <!-- Tiles2 configuration -->
	<bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/spring/tiles-defs.xml</value>
            </list>
        </property>
    </bean>
	
	
        
        	 
	
   <bean id="validadorMensajes" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
   <property name="validationMessageSource" ref="messageSource"></property>
   </bean>
   
   
	 <bean id="messageSource"    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
	    <property name="basename" value="classpath:messages" />
	    <property name="defaultEncoding" value="UTF-8"/>
	    <property name="cacheSeconds" value="2"/>
	</bean>
 
	<bean id="localeChangeInterceptor"     class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	    <property name="paramName" value="idioma" />
	</bean>
 
	<bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
	    <property name="defaultLocale" value="es"/>
	</bean>
	 
	<bean id="handlerMapping"
	    class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
	    <property name="interceptors">
	        <ref bean="localeChangeInterceptor" />
	    </property>
	</bean>
    <mvc:interceptors>
    	 <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
              <property name="paramName" value="lang"></property>
        </bean>
    </mvc:interceptors>
  
    
</beans>
